window {
    font-family: "JetBrains Mono";
    /* font-weight: regular;*/
    background-color: #002b36;
    color: #fdf6e3;
    border-radius: 0px;
}

#input {
    border: none;
    color: #fdf6e3;
    background-color: #002b36;
}

#outer-box {
    margin: 10px;
    background-color: #002b36;
}

#scroll {
    margin: 0px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
