* {
    font-family: "JetBrains Mono";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 43, 54, 1);
    color: #eee8d5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    margin: 0px;
    padding: 0 5px;
    background-color: transparent;
    color: #fdf6e3;
}

#workspaces button:hover {
    color: #002b36;
    background-color: #eee8d5;
}

#workspaces button.focused {
    color: #002b36;
    background-color: #eee8d5;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#language, #clock, #battery, #cpu, #memory, #backlight, #network, #wireplumber, #mode, #bluetooth {
    color: #fdf6e3;
    padding: 0 5px;
    margin: 0 0px;
}

#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#clock {
    background-color: #586e75;
}

#bluetooth {
    background-color: #268bd2;
}

#bluetooth.off {
    background-color: #586e75;
}

#battery {
    background-color: #859900;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #6c71c4;
}

#memory {
    background-color: #6c71c4;
}

#backlight {
    color: #002b36;
    background-color: #eee8d5;
}

#network {
    background-color: #859900;
}

#network.disconnected {
    background-color: #586e75;
}

#network.disabled {
    background-color: transparent;
}

#wireplumber {
    color: #002b36;
    background-color: #eee8d5;
}

#wireplumber.muted {
    background-color: #dc322f;
}

#tray {
    background-color: #268bd2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background-color: #2aa198;
    min-width: 16px;
}

#mpd {
    padding: 0 10px;
    color: #2a5c45;
    background-color: #859900;
}

#mpd.disconnected {
    color: #002b36;
    background-color: #002b36;
}

#mpd.stopped {
    color: #002b36;
    background-color: #859900;
}

#mpd.playing {
    padding: 0 10px;
    color: #002b36;
    background-color: #859900;
}

#mpd.paused {
    padding: 0 10px;
    color: #002b36;
    background-color: #859900;
}
